:root {
    --cols: repeat(3, 1fr);
    --rows: repeat(3, 1fr);
    --width: 312px;
    --height: 312px;
    --mark-size: 80px;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

header {
    color: seashell;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    user-select: none;
}

.stats {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 330px;
    margin:auto;
    gap: 5px;
    padding: 5px;
}

.stats-player {
    display:inline-block;
    color:seashell;
    user-select: none;
    vertical-align:middle;
    width: 150px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
    line-height: 20px;
}

.game-container {
    display: grid;
    margin: auto;
    width: var(--width);
    height: var(--height);
    grid-template-columns: var(--cols);
    grid-template-rows: var(--rows);
    gap: 6px 6px;
    padding: 10px;
}

.game-cell {
    background-color:seashell;
    font-size: var(--mark-size);
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

.game-cell:empty:hover {
    background-color:mistyrose;
}

.questions {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    margin:auto;
    gap: 5px;
}

.questions-button {
    display:inline-block;
    color:black;
    background:seashell;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    user-select: none;
    vertical-align:middle;
    width: 110px;
    padding: 5px;
    text-align: center;
    pointer-events: none;
}

.questions-button-disabled {
    display:inline-block;
    color:rgba(128, 128, 128, 0.5);
    background:rgba(255, 245, 238, 0.1);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    user-select: none;
    vertical-align:middle;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.questions-button-disabled:hover {
    color:red;
    background:seashell;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}